/* ChatbotPopup.css */

.chatbot-popup {
    border-radius: 0px;
    border: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    z-index: 999;
    frameBorder: 0px;
  }
  
  .close-chatbot-button {
    margin-top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  
  /* Add more styles for your chatbot content as needed */